.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 64px auto 0 0;
}

.u-block-7ea8-97 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  line-height: 1.5;
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  line-height: 1.5;
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  line-height: 1.5;
  background-image: none;
}

.u-block-7ea8-35 {
  background-image: none;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-2 .u-group-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1417px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 26px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 154px;
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 30px 0 18px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 2.2084em;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -131px 110px 0 766px;
}

.u-section-2 .u-icon-2 {
  font-size: 2.2084em;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -108px 742px 0 110px;
}

.u-section-2 .u-icon-3 {
  font-size: 2.2084em;
}

.u-section-2 .u-image-1 {
  width: 97px;
  height: 97px;
  margin: 48px auto 0 291px;
}

.u-section-2 .u-text-5 {
  margin: -61px 0 0 48px;
}

.u-section-2 .u-text-6 {
  margin: 123px 162px 0 176px;
}

.u-section-2 .u-image-2 {
  width: 385px;
  height: 40px;
  margin: 19px 371px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 18px 30px 0 18px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 92px 21px 0 27px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 116px 487px 0 501px;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 10px 21px 0 28px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 65px 21px 0 28px;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 13px 21px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
    margin-left: 666px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 642px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 76px;
    margin-right: 62px;
    width: 803px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 387px;
    margin-left: 401px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    border-style: solid;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 456px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 335px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 277px;
    margin-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-left: 276px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 252px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 187px;
    margin-left: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 52px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 243px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 35px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 87px;
    margin-left: 101px;
  }
}